{% extends 'base.html' %}

{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="text-center">Login</h1>
                <form class="mt-5" method="post">
                    {% csrf_token %} 


                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info ">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}



                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">userbame address</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

            <!-- <div class="col-md-6">
                <img src="https://images.pexels.com/photos/927629/pexels-photo-927629.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="img-fluid img-responsive" alt=""> 
            </div> -->



        </div>
    </div>

    {% endblock %}